<div class="container">
  <div class="row">
    <div class="col-10 offset-1">

      <h1>Sign up</h1>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

        <% if devise_error_messages! != "" %>
          <div class="alert alert-danger text-center">
            <%= devise_error_messages! %>
          </div>
        <% end %>

        <div class="field form-group">
          <%= f.label :name %>
          <%= f.text_field :name, placeholder: "Name", autofocus: true, autocomplete: "name", class: "form-control input-lg" %>
        </div>

        <div class="field form-group">
          <%= f.label :email %>
          <%= f.email_field :email, placeholder: "Email", autofocus: true, autocomplete: "email", class: "form-control input-lg" %>
        </div>

        <div class="field form-group">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
          <%= f.password_field :password, placeholder: "Password", autocomplete: "new-password", class: "form-control input-lg" %>
        </div>

        <div class="field form-group">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, placeholder: "Password confirmation", autocomplete: "new-password", class: "form-control input-lg" %>
        </div>

        <div class="actions">
          <%= f.submit "Sign up", class: "btn btn-danger btn-lg btn-block" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>

    </div>
  </div>
</div>
