<div class="container">
  <div class="row">
    <div class="col-10 offset-1">
      <div class="text-right">
        <%= link_to "Go home ←", root_path, class: "btn btn-outline-danger"%>
      </div>
      <h1 class="post-title-show"><%= @post.title %></h1>
      <div class="text-center">
        <small>By: PABLO, on: <%= @post.created_at%></small>
      </div>
      <% if signed_in? && current_user == @post.user%>
      <div class="delete-edit text-center">
        <small><%= link_to "Edit &#9998;".html_safe, edit_post_path(@post) %></small>
        <small><%= link_to "Delete &#128465;".html_safe, @post, method: :delete, data: { confirm: "Are you sure to delete this post?" } %></small>
      </div>
      <% end %>

      <div class="body">
        <% renderer = Redcarpet::Render::HTML.new %>
        <% markdown = Redcarpet::Markdown.new(renderer, extensions = {}) %>
        <%= markdown.render(@post.body).html_safe%>
      </div>

      <div class="post-comments">
        <h2 class="comments-title">Comments</h2>

        <% if @comment && @comment.errors.any? %>
        <div class="alert alert-danger">
          <ul>
          <% @comment.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
        <% end %>

        <div class="comments">
          <% @post.comments.each do |comment| %>
            <div class="card bg-light">
              <div class="card-header">By: <strong><%= comment.user.name %></strong> at <%=comment.user.created_at%></div>
              <div class="card-body"><%= comment.body %></div>
            </div>
          <% end %>

          <% if signed_in? %>
            <br>
            <h4>Comment this post: </h4>
            <% if params[:error_comment] %>
              <div class="alert alert-danger">
                <ul>
                  <li><%= params[:error_comment] %></li>
                </ul>
              </div>
            <% end %>
            <%= form_for [@post, @post.comments.build] do |f| %>
              <div class="form-group">
                <%= f.text_area :body, class: "form-control", placeholder: "Add comment" %>
              </div>
              <div class="actions text-right">
                <%= f.submit "Comment", class: "btn btn-danger" %>
              </div>
            <% end %>
          <% end %>
        </div>

      </div>

      <div class="text-right">
        <%= link_to "Go home ←", root_path, class: "btn btn-outline-danger"%>
      </div>
    </div>
  </div>
</div>
